.modal {
  width: 300px;
  min-height: 525px;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 30px;

  position: absolute;
  top: 255px;
  left: 50%;
  transform: translate(-50%, 0);
  /* margin-left: -150px; */

  padding: 40px 18px 53px 17px;
  background-color: #fff;

  z-index: 1000;
  /* transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */

  &:hover,
  &:focus {
    box-shadow: 5px 10px 20px rgba(214, 114, 0, 0.993);
    transition-duration: 500ms;
  }
}

/*--------------------------------- Ошибка для пустого email и password */

.input {
  &:invalid {
    border: 1px solid rgb(255, 4, 4);
  }

  &:valid {
    border: 1px solid rgb(51, 112, 49);
  }
}

.error {
  color: red;
  display: block;
  position: absolute;
  top: 83px;
  left: 0px;
  width: 250px;

  &::before {
    content: "*";
    position: absolute;
    /* top: -83px;
    left: 7px; */
    top: -83px;
    left: -3px;
    font-size: 8px;
  }
}

.isError {
  color: red;
  display: block;
  font-size: 9px;
  position: absolute;
  bottom: 115px;
}

/*-------------------------------------------------------------*/

.text {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.04em;

  color: var(--main-color);
  margin-bottom: 24px;
  margin-left: 12px;
}

.modalLink {
  width: 122px;
  height: 40px;
  filter: drop-shadow(1px 2px 3px rgba(170, 178, 197, 0.2));
  background: #f6f7fb;
  border-radius: 26px;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;

  padding: 10px 19px;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */

  &:focus,
  &:hover {
    filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
    background: var(--accent-color);
    transition-duration: 500ms;
  }
}

.logoGoogle {
  margin-right: 10px;
}

.textGoogle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--black-color);
  padding-top: 2px;
}

.wrapper {
  text-align: center;
}

.modalLabel {
  font-size: 10px;
  line-height: 1.2;

  letter-spacing: 0.04em;
  color: var(--black-color);
  margin-left: 12px;
  position: relative;
}

.input {
  display: block;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.04em;

  width: 253px;
  height: 52px;
  background: #f6f7fb;
  border-radius: 30px;

  box-sizing: border-box;
  padding: 17px 20px;
  border: none;
  margin-top: 12px;
  margin-left: 12px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid rgb(255, 125, 4);
    transition-duration: 500ms;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.04em;

    color: #a6abb9;
  }
}

.buttonsWrapper {
  display: flex;
}

.button {
  display: flex;

  min-width: 125px;
  height: 44px;

  border-radius: 16px;
  border: none;
  /* text-align: center;
  justify-content: center; */
  font-weight: bold;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));
  background: #f6f7fb;
  margin-top: 10px;

  color: var(--main-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
    background: var(--accent-color);
    transition-duration: 500ms;

    color: var(--white-color);
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.65;
    color: var(--main-color);
    background: #f6f7fb;
  }

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.disabled {
  display: flex;

  min-width: 125px;
  height: 44px;

  border-radius: 16px;
  border: none;

  font-weight: bold;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));
  background: #f6f7fb;
  margin-top: 10px;

  color: var(--main-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  align-items: center;
  justify-content: center;
  cursor: not-allowed;
  opacity: 0.65;
  color: var(--main-color);
  background: #f6f7fb;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 436px;
    min-height: 535px;
    padding: 50px 85px 53px 86px;

    top: 296px;
  }

  .text,
  .modalLabel,
  .input {
    margin-left: 0px;
  }

  .text {
    margin-bottom: 20px;
  }

  .error {
    font-size: 10px;

    &::before {
      top: -83px;
      left: -4px;
    }
  }

  .isError {
    color: red;
    display: block;
    font-size: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    padding: 50px 85px 53px 86px;
    transform: translate(20%, 0);
    top: 173px;
    /* left: 734px; */
  }
}
