// .container {
//   display: flex;
//   width: 100%;
//   height: 60vh;
// }
.charterReport {
  padding: 5px;
  background-color: #ffff;
}

@media screen and(max-width: 767px) {
  // .scrollBar {
  //   width: 100%;
  //   overflow-x: auto;
  //   max-height: 170px;

  //   &::-webkit-scrollbar {
  //     width: 6px;
  //   }
  //   &::-webkit-scrollbar-track {
  //     background-color: #fff;
  //   }
  //   &::-webkit-scrollbar-thumb {
  //     border-radius: 2px;
  //     background-color: var(--accent-color);
  //   }
  // }
}
