.wrapper {
  position: absolute;

  top: 174px;
  left: 50%;
  transform: translate(-50%, 0);
}

@media screen and (min-width: 768px) {
  .wrapper {
    top: 97px;
  }
  .secondWrapper {
    display: flex;
}
}
