@media screen and (min-width: 320px) {
  .backBtn {
    border: none;
    background: none;
    font-size: 0;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .backBtnSvg {
    margin-right: 10px;
  }

  .backBtn {
    display: flex;
    height: 44px;

    font-weight: normal;
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-second);
    justify-content: right;
    align-items: center;

    color: var(--main-color-grey);
  }
}
