@media screen and (min-width: 320px) {
  .itemDiv {
    margin-bottom: 30px;
  }

  .itemInput {
    display: block;
    width: 268px;
    height: 44px;
    text-align: left;
    font-weight: normal;
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-first);

    color: var(--second-white-color);
    background: var(--light-gray-color);

    padding-left: 21px;

    border: 2px solid var(--white-color);
    border-radius: 16px 16px 0px 0px;
  }

  .itemInput::placeholder {
    color: var(--second-white-color);
    font-weight: normal;
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-first);
  }

  .amountInput {
    display: block;
    width: 125px;
    height: 44px;
    padding: 12px 17px 12px 3px;
    background-color: var(--light-gray-color);
    font-weight: bold;
    font-size: var(--font-size);
    line-height: var(--line-height);
    align-items: center;
    text-align: right;
    letter-spacing: var(--letter-spacing-first);
    text-transform: uppercase;

    color: var(--black-color);

    border: 2px solid var(--white-color);
    box-sizing: border-box;
    border-radius: 22px 0px 0px 22px;
  }

  .amountInput::placeholder {
    font-weight: bold;
    font-size: var(--font-size);
    line-height: var(--line-height);
    align-items: center;
    text-align: right;
    letter-spacing: var(--letter-spacing-first);
    text-transform: uppercase;

    color: var(--black-color);
  }

  .amountDiv {
    display: flex;
    width: 183px;
    margin: 0 auto;
    margin-bottom: 83px;
  }

  .calculatorBtn {
    display: block;
    width: 60px;
    height: 44px;
    background-color: var(--light-gray-color);

    border: 2px solid var(--white-color);
    box-sizing: border-box;
    border-radius: 22px 0px 0px 22px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .btnsDiv {
    display: flex;
    /* padding-left: 8px; */
    padding-right: 8px;
  }

  .enterBtn {
    margin-right: 15px;
  }
  .enterBtn,
  .clearBtn {
    width: 125px;
    height: 44px;

    background: var(--light-gray-color);
    box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
    border: none;
    border-radius: 16px;

    font-weight: bold;
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-first);
    text-transform: uppercase;

    color: var(--main-color);
  }

  .enterBtn:hover,
  .enterBtn:focus,
  .clearBtn:hover,
  .clearBtn:focus {
    background: var(--accent-color);
    color: var(--white-color);
    filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
  }
}

@media screen and (min-width: 768px) {
  .itemInput {
    width: 192px;
    background: var(--white-color);
    border: 2px solid var(--light-gray-color);
    border-right-color: var(--white-color);
    border-radius: 16px 0 0 16px;
  }
  .itemDiv {
    display: flex;
    margin: 0 0;
  }
  .itemsWrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  .amountDiv {
    width: 104px;
    margin: 0 0;
  }
  .amountInput {
    width: 60px;
    padding: 0px 0px;

    color: var(--second-white-color);
    background: var(--white-color);
    border: 2px solid var(--light-gray-color);
    border-right-color: var(--white-color);
    border-left-color: var(--white-color);
    border-radius: 0px;
  }

  .amountInput::placeholder {
    color: var(--second-white-color);
  }
  .calculatorBtn {
    width: 44px;
    padding-left: 20px;
    background: var(--white-color);
    border: 2px solid var(--light-gray-color);
    border-radius: 16px 0 0 16px;
    border-right-color: var(--white-color);
  }

  .btnsDiv {
    justify-content: center;
  }
  .enterBtn,
  .clearBtn {
    background: var(--white-color);
    box-shadow: none;
    border: 2px solid #f6f7fc;
  }

  .enterBtn:hover,
  .enterBtn:focus,
  .clearBtn:hover,
  .clearBtn:focus {
    background: var(--accent-color);
    color: var(--white-color);
    filter: none;
    border: none;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    display: flex;
  }
  .itemInput {
    width: 287px;
    border-radius: 16px 0 0 0;
  }
  .itemsWrapper {
    margin: 0 27px 0 0;
  }
  .amountDiv {
    width: 126px;
  }
  .amountInput {
    width: 80px;
  }
  .calculatorBtn {
    width: 46px;
  }
}
