.blok {
  padding-top: 20px;
}

.navigation {
  display: flex;
  justify-content: center;
}

.iconPrevious {
  width: 8px;
  height: 14px;
}

.iconNext {
  width: 8px;
  height: 14px;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  color: var(-black-color);
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  list-style-type: none;
}

.pseudoelementFirst {
  display: inline-flex;
}

.pseudoelementSecond {
  display: inline-flex;
}

.pseudoelementThird {
  display: inline-flex;
}

.item {
  text-align: center;
  margin-right: 15px;
  margin-bottom: 40px;
  width: 84px;
}

.icon {
  fill: var(--dark-blue-color);
  width: 65px;
  height: 56px;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.bg {
  position: relative;

  &:after {
    display: block;
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -1;
    background: linear-gradient(
      var(--light-gray-color),
      var(--light-gray-color)
    );
    border-radius: 20px;
    width: 59px;
    height: 46px;
  }

  &:hover:after,
  &:focus:after {
    background-image: linear-gradient(
      var(--light-orange-color),
      var(--light-orange-color)
    );
  }
}

.price {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  color: var(--main-color);
}

.category {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  color: var(--main-color);
}

.costsList {
  list-style: none;
  list-style-type: none;
}

.costsItem {
  margin-bottom: 15px;
}

.costsType {
  font-size: 10px;
  line-height: 12px;
  color: var(--main-color);
}

.costsPrice {
  font-size: 10px;
  line-height: 12px;
  color: var(--main-color);
}

@media screen and (max-width: 767px) {
  .pseudoelementFirst {
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 280px;
      height: 1px;
      background: var(--light-gray-color);
      margin-bottom: 20px;
    }
  }

  .pseudoelementSecond {
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 280px;
      height: 1px;
      background: var(--light-gray-color);
      margin-bottom: 20px;
    }
  }

  .pseudoelementThird {
    position: relative;

    &.pseudoelementThird::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 280px;
      height: 1px;
      background: var(--light-gray-color);
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .blok {
    width: 666px;
    margin: 0 auto;
    padding-left: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  .list:nth-child(n + 5) {
    margin-bottom: 0;
  }

  .item {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .blok {
    width: 1060px;
    padding-left: 210px;
    padding-right: 210px;
  }
}
