.title {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  color: #000000;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  text-align: center;
  margin-right: 15px;
  margin-bottom: 20px;
  width: 84px;
}

.icon {
  fill: #071f41;
  width: 65px;
  height: 56px;

  &:hover,
  &:focus {
    fill: #ff751d;
  }

  &:focus:after {
    background-image: linear-gradient(#ffdac0, #ffdac0);
  }
}

.bg {
  position: relative;

  &:after {
    display: block;
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -1;
    background: linear-gradient(#f5f6fb, #f5f6fb);
    border-radius: 20px;
    width: 59px;
    height: 46px;
  }

  &:hover:after {
    background-image: linear-gradient(#ffdac0, #ffdac0);
  }
}

.price {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  color: #52555f;
}

.category {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  color: #52555f;
}

.costsItem {
  margin-bottom: 15px;
}

.costsType {
  font-size: 10px;
  line-height: 12px;
  color: #52555f;
}

.costsPrice {
  font-size: 10px;
  line-height: 12px;
  color: #52555f;
}

@media screen and (min-width: 768px) {
  .blok {
    width: 666px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  .item {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .blok {
    width: 1060px;
    padding-left: 210px;
    padding-right: 210px;
  }
}
