@media screen and (min-width: 320px) {
.dropbtn {
  border: none;
  cursor: pointer;

  display: block;
  width: 282px;
  height: 44px;
  text-align: left;
  font-weight: normal;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing:var(--letter-spacing-first);

  color: var(--second-white-color);
  background: var(--light-gray-color);

  padding-left: 21px;

  border: 2px solid var(--white-color);
  border-radius: 0px 0px 16px 0px;
}
.category-svg-up {
  opacity: 0;
}
.category-svg-down,
.category-svg-up {
  position: absolute;
  top: 12px;
  right: 22px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 282px;

  background: var(--white-color);
  border: 2px solid var(--light-gray-color);
  box-shadow: 0px 3px 4px rgba(170, 178, 197, 0.4);
}

.dropdown-content-a {
  display: flex;
  align-items: center;
  justify-content: left;
   height: 32px;

  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  letter-spacing: 0.02em;

  color: var(--second-white-color);

  padding-left: 20px ;
}
.dropdown-content-a:hover {
  background-color: var(--light-gray-color);
  color: var(--black-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .category-svg-down {
  opacity: 0;
}
.dropdown:hover .category-svg-up {
  opacity: 1;
}
}

@media screen and (min-width: 768px) {
.dropbtn {
  width: 171px;
  background: var(--white-color);
  padding-left: 20px;
  border: 2px solid var(--light-gray-color);
  border-radius: 0px;
}

.dropdown-content {
  width: 171px;
}
}

@media screen and (min-width: 1280px) {
.dropbtn {
  width: 188px;
}
.dropdown-content {
  width: 188px;
}
}