.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  border-radius: 12px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}
.modal.active {
  transform: scale(1);
}

.modal-content {
  position: absolute;
  height: 194px;
  width: 380px;
  background-color: #ffffff;
  border-radius: 30px;
  offset: 10px, 10px rgba(82, 85, 95, 0.4);
  text-align: center;
  padding-top: 50px;
}
.modal-button {
  width: 125px;
  height: 44px;
  border-radius: 16px;
  color: #52555f;
  background-color: #ffffff;

  border: solid 2px #f5f6fb;
  text-align: center;
  margin-right: 15px;
  //   margin: 0 auto;

  &:hover {
    background-color: #ff751d;
    color: #ffffff;
    cursor: pointer;
  }
  &:focus {
    background-color: #ff751d;
    color: #ffffff;
    cursor: pointer;
  }
}
.areYouSure {
  font-family: "Roboto";
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.17px;
  text-align: center;
  padding-bottom: 20px;
}
.close-button {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  fill: #52555f;
}
