.spinner {
  margin-top: 5%;
  left: 50%;
}

.tableRow {
  display: flex;
  margin: 10px 0 12px;
  border-bottom: 1px solid var(--light-gray-color);
}

.tableCollapseColumn {
  display: flex;
  flex-direction: column-reverse;

  min-width: 55px;
  max-width: 55px;
  margin-right: 14px;
}

.tableDate {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.13;
  letter-spacing: var(--letter-spacing-second);
  text-transform: uppercase;

  color: var(--main-color);
}

.tableDescription {
  font-weight: 700;
  font-size: 12px;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing-second);

  color: var(--main-color);
}

.tableCategory {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.13;
  letter-spacing: var(--letter-spacing-second);

  align-self: end;

  width: 118px;
  margin-right: 14px;

  color: var(--main-color);
}

.tableAmount {
  font-weight: 700;
  font-size: 12px;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing-second);

  align-self: center;
  width: 84px;
  color: var(--main-color);
}

.TrashIcon {
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;

  fill: black;
  &:hover,
  &:focus {
    fill: var(--balance-minus);
    transition-duration: 500ms;
  }
}

.iconDelete {
  fill: var(--main-color);

  &:hover {
    fill: var(--balance-minus);
    transition-duration: 500ms;
  }
}

.table {
  width: 100%;
  overflow-x: auto;
  max-height: 344px;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
.TableHistoryMobIncome {
  font-weight: bold;
  width: 130px;
  color: #407946;
}
.TableHistoryMobExpense {
  font-weight: bold;
  color: #e7192e;
}
