.currentPeriodWrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 140px;
}

.currentPeriodP {
  font-weight: normal;
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: center;
  letter-spacing: var(--letter-spacing-second);

  color: var(--main-color-grey);

  margin-bottom: 5px;
}

.perodWrapper {
  display: flex;
}

.periodP {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: var(--letter-spacing-first);
  text-transform: uppercase;
  margin-right: 15px;

  color: var(--black-color);
}

.icon {
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .currentPeriodWrapper {
    margin: 0;
  }
}
