.currentPeriodWrapper{
width: 140px;
}

.currentPeriodP {
    font-weight: normal;
font-size: var(--font-size);
line-height: var(--line-height);
text-align: center;
letter-spacing: var(--letter-spacing-second);

color: var(--main-color-grey);

margin-bottom: 5px;
}

.perodWrapper {
    display: flex;
}

.periodP {
    font-weight: bold;
font-size: 14px;
line-height: 1.143;
display: flex;
align-items: center;
text-align: center;
letter-spacing: var(--letter-spacing-first);
text-transform: uppercase;
margin-right: 15px;

color: var(--black-color);

}

.iconPrevious {
    margin-right: 15px;
}


