.currentPeriodWrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 165px;
}

.currentPeriodP {
  font-weight: normal;
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: center;
  letter-spacing: var(--letter-spacing-second);
  color: var(--main-color-grey);
  margin-bottom: 5px;
}

.periodWrapper {
  display: flex;
  justify-content: center;
}

.periodP {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: var(--letter-spacing-first);
  text-transform: uppercase;
  margin-right: 15px;
  margin-left: 15px;
  color: var(--black-color);
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
    transform: scale(1.1);
    transition-duration: 500ms;
  }
}

.icon {
  width: 8px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .currentPeriodWrapper {
    margin: 0;
  }
}
