.wrapper {
  background-color: #f5f6fb;
  height: 286px;
  border-bottom-left-radius: 20%;

  position: relative;
}

.cabbagesBottom {
  display: none;
}

.logoTwoCabbages {
  display: none;
}

@media screen and (min-width: 768px) {
  .wrapper {
    height: 527px;
    /* position: relative; */
  }

  .logoTwoCabbages {
    display: block;
    position: absolute;
    top: 977px;
    left: 497px;
    z-index: 1;
  }
}

@media screen and (min-width: 1280px) {
  .logoTwoCabbages {
    display: none;
  }

  body {
    height: 100%;
  }
  .cabbagesBottom {
    display: block;

    position: absolute;
    top: 100vh;
  }
}
