.tr {
  width: 230px;
  height: 40px;
  background-color: #f5f6fb;
  border: solid 2px #ffff;
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 6px;
}
.tr:first-child {
  border-radius: 100px 100px 0px 0px;
}
.tr:last-child {
  border-radius: 0px 0px 100px 0px;
}
.name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.21px;
  display: contents;
}

.month,
.summa {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21px;
  color: #52555f;
  width: 84px;
  height: 38px;
  text-align: center;
  justify-content: center;
  display: inline-block;
}
.month {
  margin-left: 20px;
}

.table {
  margin-left: 30px;
}

@media screen and (max-width: 480px) {
  .table {
    visibility: hidden;
    display: none;
    margin-left: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .table {
    margin-top: 40px;
  }
}
