.tr {
  width: 230px;
  height: 38px;
  background-color: #f5f6fb;
  border: solid 2px #ffff;
  text-align: center;
}

.name {
  font-family: "Roboto";
  font-weight: 700px;
  font-size: 12px;
  line-height: 1.21px;
  text-align: center;
}

.month,
.summa {
  font-family: "Roboto";
  font-weight: 400px;
  font-size: 12px;
  line-height: 1.21px;
  color: #52555f;
  text-align: center;
}
.month {
  padding-right: ;
  margin-right: 20px;
}
