.section {
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  z-index: 900;

  position: absolute;
  top: 86px;

  left: 50%;
  transform: translate(-50%, 0);
}

.balanceString {
  display: flex;
  margin-bottom: 59px;
}

.tableWraper {
  width: 282px;

  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 33px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;

  background: var(--white-color);
  box-shadow: 5px 10px 20px rgba(var(--container-color-grey), 0.4);

  background: var(--white-color);
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 0px 30px 30px 30px;

  font-size: 14px;
  line-height: 16px;
}
.calendar {
  display: flex;
  justify-content: center;
  margin-bottom: 62px;
  opacity: 1;
}

@media screen and (min-width: 768px) {
    .calendar {
  opacity: 0;
  margin-bottom: 0px;
}
}
@media screen and (min-width: 1200px) {
  .allTables {
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
  .tableWraper {
    width: 1060px;
    height: 579px;
  }
  .btn2 {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .section {
    top: 97px;
  }
  .tableWraper {
    width: 665px;
    height: 626px;
  }

  .btn2 {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .balanceString {
    display: none;
  }
  .btn1 {
    display: none;
  }
  .btn2 {
    margin-top: 50px;
  }
}
