.TableHistoryContainer {
  @media screen and (min-width: 768px) {
    max-width: 605px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 760px;
  }
}

.TableHistoryHeader {
  display: flex;
  height: 40px;
  padding-left: 20px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  background-color: var(--light-gray-color);
  font-size: var(--font-size);
  font-weight: 700;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing-first);
  text-transform: uppercase;
  text-align: start;
  align-items: center;
}

.TableHistoryHeaderRow:first-child,
.TableHistoryDate {
  margin-right: 20px;

  @media screen and (min-width: 768px) {
    min-width: 67px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 84px;
    // max-width: 84px;
  }
}

.TableHistoryHeaderRow:nth-child(2),
.TableHistoryDescription {
  margin-right: 20px;

  @media screen and (min-width: 768px) {
    min-width: 168px;
    max-width: 168px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 188px;
    max-width: 188px;
  }
}

.TableHistoryHeaderRow:nth-child(3),
.TableHistoryCategory {
  margin-right: 20px;

  @media screen and (min-width: 768px) {
    min-width: 100px;
    max-width: 100px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 172px;
    max-width: 172px;
  }
}

.TableHistoryHeaderRow:nth-child(4),
.TableHistoryAmount {
  margin-right: 20px;

  @media screen and (min-width: 768px) {
    min-width: 100px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 104px;
  }
}

.TableHistoryHeaderRow:last-child {
  @media screen and (min-width: 768px) {
    min-width: 84px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 110px;
  }
}

.TableHistoryBody {
  // max-width: 760px;
  width: 100%;
  overflow-x: auto;
  max-height: 344px;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.TableHistoryRow {
  display: flex;
  height: 40px;
  padding-left: 20px;
  border: 2px solid var(--light-gray-color);
  border-top: 0;

  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing-second);
  color: var(--main-color);

  text-align: start;
  align-items: center;
}

.TrashIcon {
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  fill: black;
  &:hover,
  &:focus {
    fill: var(--balance-minus);
  }
}

.iconDelete {
  fill: var(--main-color);

  &:hover {
    fill: var(--balance-minus);
  }
}
