:root {
  --accent-color: #ff751d;
  --light-orange-color: #ffdac0;
  --main-color: #52555f;
  --main-color-grey: rgba(82, 85, 95, 0.7);
  --light-gray-color: #f5f6fb;
  --balance-minus: #e53935;
  --balance-plus: #407946;
  --white-color: #ffffff;
  --dark-blue-color: #071f41;
  --black-color: #000000;
  --main-font: "Roboto", sans-serif;
  --font-size: 12px;
  --line-height: 1.17;
  --letter-spacing-first: 0.02em;
  --letter-spacing-second: 0.04em;
}
